static inline bool test_#{@me.name.downcase}(int value, #{@me.name} e) {
  return (e & value) == e;
}

static inline void set_#{@me.name.downcase}(int &value, #{@me.name} e) {
  value |= e;
}

static inline void clear_#{@me.name.downcase}(int &value, #{@me.name} e) {
  value &= ~e;
}

<?rb import 'cpp_mask_enum_dump_function_header.tmpl' ?>
