<?rb ####################################################################### ?>
<?rb ## Copyright (c) by Daniel Davidson                                     ?>
<?rb ## All Rights Reserved.                                                 ?>
<?rb ####################################################################### ?>
<?rb require 'codegen' ?>
<?rb require 'codegen/cpp' ?>
import os ;
project #{@app.name}
    : 
    : 
    ;
ENV_CXXFLAGS = [ os.environ CXXFLAGS ] ;
ENV_LINKFLAGS = [ os.environ LINKFLAGS ] ;
SOURCES =
<?rb @app.impl_classes.each do |c| ?>
     #{c.name.downcase}
<?rb end ?>
;

exe #{@app.name}
    : #{@app.main_cpp}
      $(SOURCES).cpp
<?rb @app.jam_requirements.each do |req| ?>
      #{req}
<?rb end ?>
    : <define>DEBUG_ETF_STARTUP
      <cxxflags>$(ENV_CXXFLAGS)
      <linkflags>$(ENV_LINKFLAGS)
<?rb @app.build_cpp_defines.each do |define| ?>
      <define>#{define}
<?rb end ?>
      <variant>debug:<define>DEBUG
      <variant>release:<define>NDEBUG
<?rb @app.jam_cpp_include_directives.each do |include| ?>
      #{include}
<?rb end ?>
    ;

install etf_install_static_debug : #{@app.name} :
      <link>static <variant>debug:<location>$(ETF_INSTALL_PATH)/static/debug
;

explicit etf_install_static_debug ;

install etf_install_static_release : #{@app.name} :
      <link>static <variant>release:<location>$(ETF_INSTALL_PATH)/static/release
;

explicit etf_install_static_release ;

install etf_install_shared_debug : #{@app.name} :
      <link>shared <variant>debug:<location>$(ETF_INSTALL_PATH)/shared/debug
;

explicit etf_install_shared_debug ;

install etf_install_shared_release : #{@app.name} :
      <link>shared <variant>release:<location>$(ETF_INSTALL_PATH)/shared/release
;

explicit etf_install_shared_release ;


