<?rb ####################################################################### ?>
<?rb ## Copyright (c) by Daniel Davidson                                     ?>
<?rb ## All Rights Reserved.                                                 ?>
<?rb ####################################################################### ?>
import stage ;
import package ;
import os ;
<?rb require 'codegen' ?>
<?rb require 'codegen/cpp' ?>
project #{@lib.name}
    : source-location ../src
    : requirements
<?rb if not @lib.static_only and not @lib.shared_only ?>
    <link>static:<define>#{@lib.api_decl}_STATIC_LIB=1
<?rb end ?>
<?rb @lib.build_cpp_includes.each do |incl| ?>
      <include>#{incl}
<?rb end ?>
<?rb @lib.build_cpp_defines.each do |define| ?>
      <define>#{define}
<?rb end ?>
    ;
ENV_CXXFLAGS = [ os.environ CXXFLAGS ] ;
SOURCES =
<?rb @lib.impl_classes.each do |c| ?>
     #{c.name.downcase}
<?rb end ?>
<?rb @lib.hand_coded_impls.each do |hc| ?>
     #{hc}
<?rb end ?>
;

lib #{@lib.name}
    : $(SOURCES).cpp
<?rb @lib.impl_classes.each do |c| ?>
<?rb if c.q_object ?>
      #{c.fqpath_header.relative_path_from(@lib.build_path)}
<?rb end ?>
<?rb end ?>
<?rb @lib.jam_requirements.each do |req| ?>
      #{req}
<?rb end ?>
<?rb if @lib.static_only ?>
    : <link>static
<?rb else ?>
    : <link>shared <define>#{@lib.api_decl}_EXPORTS 
<?rb end ?>
    : <cxxflags>$(ENV_CXXFLAGS)
    ;

