<?rb ####################################################################### ?>
<?rb ## Copyright (c) by Daniel Davidson                                     ?>
<?rb ## All Rights Reserved.                                                 ?>
<?rb ####################################################################### ?>
<?rb if 0 != @cls.forward_class_decls_parsed.length ?>
// Forward class declarations
#{@cls.forward_class_decls_parsed.join("\n")}

<?rb end ?>
